<!DOCTYPE html>
<html>
<head>
  <title>Cat</title>
  <%= stylesheet_link_tag    'application', media: 'all'%>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= link_to 'Коты', kittens_path %>
<%= link_to 'Шары', balls_path %>
<%= link_to 'Кормление', meals_path %>


<%= yield %>

</body>
</html>
